
/*Styling*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html, body{
    background-position: center;
    background: linear-gradient(to bottom, #2a2a3b, #4a3a63);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
    
}
.header a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
.main-content {
    
    max-width: 800px;
    margin: auto;
    margin-top: 200px;
    margin-right: 800px;
}

.main-content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.main-content p {
    font-size: 2em;
    margin-left: 20px;

}
.cta-buttons {
    margin-top: 60px;
}
.cta-buttons a {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2em;
    text-decoration: none;
}
.btn-primary {
    background-color: #7289da;
    color: white;
}
.btn-secondary {
    background-color: #565b76;
    color: white;
}
.carousel-container {
    position: relative; 
    display: flex;
    width: 50%;
    margin: 40px auto;  
    margin-top: -200px;
    margin-left: 800px;
}
#productCarousel {
    max-width: 80%  ;
    margin: auto;
}

.carousel-control.left, 
.carousel-control.right {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-inner img {
    width: 100%;
    max-width: 900px;
    margin: auto;
    height: auto;
    display: block;
    border-radius: 10px;
}