body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1e1e2d, #3b3b5f, #5a3d7a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/*navbar*/
.navbar {
    width: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
}

.nav-brand {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-style: italic;
}

.nav-brand:hover {
    color: #dcdcdc;
}

.signup-container {
    text-align: center;
}

/* Login Box */
.signup-box {
    background: rgba(255, 255, 255, 0.15);
    padding: 50px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

h1 {
    color: white;
    margin-bottom: 20px;
}

h2 {
    color: white;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #816e9e;
}